<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <img th:src="@{/user/getImage(picUrl=${user.picUrl})}"><br>
    <h3 th:text="${user.name}"></h3>
    <h3 th:text="${user.surname}"></h3>
</div>
<a href="/logout">Logout</a>
<hr>
<br>
<h3>ALL USERS</h3>
<table border="1">
    <tr>
        <td>Picture</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Send Friend Request</td>
    </tr>
    <tr th:each="user:${users}">
        <td><img th:src="@{/user/getImage(picUrl=${user.picUrl})}" width="50"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td><a th:href="@{/sendRequest(id=${user.id})}"> Send </a></td>
    </tr>
</table>
<hr>
<br>
<h3>ALL REQUESTS</h3>
<table border="1">
    <tr>
        <td>Picture</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Accept or Reject</td>
    </tr>
    <tr th:each="request:${requests}">
        <td><img th:src="@{/user/getImage(picUrl=${request.from.picUrl})}" width="80"></td>
        <td th:text="${request.from.name}"></td>
        <td th:text="${request.from.surname}"></td>
        <td>
            <a th:href="@{/acceptOrReject(id=${request.from.id},action='accept')}"> Accept </a>&nbsp;&nbsp;
            <a th:href="@{/acceptOrReject(id=${request.from.id},action='reject')}"> Reject </a>
        </td>
    </tr>
</table>
<hr>
<br>
<h3>ALL FRIENDS</h3>
<table border="1">
    <tr>
        <td>Picture</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Delete</td>
        <td>Message</td>
    </tr>
    <tr th:each="friend:${friends}">
        <td><img th:src="@{/user/getImage(picUrl=${friend.picUrl})}" width="80"></td>
        <td th:text="${friend.name}"></td>
        <td th:text="${friend.surname}"></td>
        <td>
            <a th:href="@{/remove(id=${friend.id})}"> Delete </a>
        </td>
        <td>
            <a th:href="@{/messagePage(id=${friend.id})}"> Message </a>
        </td>
    </tr>
</table>
</body>
</html>